*{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
    /* overflow: hidden;  */
}
nav{
    background-color: rgba(208,46,52,255);
    height: 4vmax;
    color: black;
    padding: 1vmax;
}
ul{
    display:flex;
    justify-content: flex-end;
    align-self: center;
    column-gap: 5vmax;
    position: relative;
    right: 3vmax;
    font-size: 2.2vmax;
    font-family: Vrinda, sans-serif;
    padding-left: 0;
}
a{
    color: black; 
}
h1{
    text-align: center;
    font-size: 3vmax;
    border-bottom: rgba(122,122,122,255) solid 0.2vmax;
    width: 93vmax;
    position: relative;
    left: 4vmax;
    bottom: -2.5vmax;
    font-family: Vrinda, sans-serif;
    font-weight:normal;
}
h1>img{
    position: relative;
    right: 38.3vmax;
    vertical-align: bottom;
    height: 3vmax;
}
.pageContent{
    display: flex;
    flex-direction: row-reverse;   
    justify-content: center;
    margin-left: 45vmax;
    margin-top: 6vmax;
    /* position: relative;
    left: 22.5vmax;
    bottom: -5vmax; */
    font-size: 1.6vmax;
}
.details{
    position: relative;
    right: 36vmax;
}
iframe{
    height: 23vmax;
    width: 40vmax;
    position: relative;
    right: 41vmax;
}
.fa{
    background-color: rgba(122,122,122,255);
    color: white;
    width: 2.3vmax;
    height: 1.8vmax;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
footer{
    background-color: rgba(122,122,122,255);
    color: rgba(242,242,242,255);
    height: 4vmax;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: 1vmax;
    font-size: 1.4vmax;
    position: absolute;
    bottom: 0;
    /* position: relative;
    top: 7.8vmax;
    width:50vmax; */
    
}
footer>img{
    height: 2.5vmax;
    width: 5vmax;
}
    

