nav{
    background-color: rgba(208,46,52,255);
    height: 35px;
    color: black;
}
ul{
    display:flex;
    justify-content: flex-end;
    column-gap: 30px;
}
body{
    margin: 0%;
    margin-top: 0%;
}
a{
    color: black; 
}
h1{
    text-align: center;
    font-size: 25px;
    border-bottom: black solid;
    width: 99.2%;
    position: relative;
    left: 0.8vw;
}
img{
    position: relative;
    right: 338px;
    height: 8vh;
}
.pageContent{
    display: flex;
    flex-direction: row-reverse;   
    align-items: flex-start;
}
.details{
    position: relative;
    right: 230px;
}
iframe{
    height: 55vh;
    width: 50vw;
    position: relative;
    right: 275px;  
}
footer{
    background-color: rgba(122,122,122,255);
    height: 35px;
    text-align: center;
}
.fa{
    background-color: rgba(122,122,122,255);
    color: white;
    width: 5vh;
    height: 1.8vw;
    display: inline-block;
    text-align: center;
}
    

