nav{
    background-color: rgba(208,46,52,255);
    height: 35px;
    color: black; 
}
ul{
    display:flex;
    justify-content: flex-end;
    column-gap: 25px;
    position: relative;
    right: 25px;
    font-size: 21px;
    font-family: Vrinda, sans-serif;
}
body{
    margin: 0%;
    margin-top: 0%;
}
a{
    color: black; 
}
h1{
    text-align: center;
    font-size: 25px;
    border-bottom: black solid;
    width: 99.2%;
    position: relative;
    left: 0.8vw;
}
h1>img{
    position: relative;
    right: 288px;
    height: 8vh;
}
.pageContent{
    display: flex;
    flex-direction: row-reverse;   
    align-items: flex-start;
}
.details{
    position: relative;
    right: 201px;
}
iframe{
    height: 55vh;
    width: 50vw;
    position: relative;
    right: 227px;  
}
.fa{
    background-color: rgba(122,122,122,255);
    color: white;
    width: 3vw;
    height: 4.5vh;
    display: inline-block;
    text-align: center;
}
footer{
    background-color: rgba(122,122,122,255);
    color: rgba(242,242,242,255);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: 10px;
}


    

