nav{
    background-color: rgba(208,46,52,255);
    height: 35px;
    color: black;
    margin-top: 0%;
}
ul{
    display:flex;
    justify-content: flex-end;
    column-gap: 30px;
}
a{
    color: black; 
}
h1{
    text-align: center;
    font-size: 25px;
    border-bottom: black solid;
    width: 99.2%;
    position: relative;
    left: 0.8vw;
}
h1>img{
    position: relative;
    right: 290px;
    height: 8vh;
}
h2{
    text-align: center;
}