*{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgba(208,46,52,255);
    height: 4vmax;
    color: black;
    padding: .6vmax;
}
ul{
    display:flex;
    justify-content: flex-end;
    align-self: center;
    column-gap: 5vmax;
    position: relative;
    right: 3vmax;
    font-size: 2.5vmax;
    font-family: Vrinda, sans-serif;
    padding-left: 0;
}
a{
    color: black; 
}
h1{
    text-align: center;
    font-size: 3vmax;
    border-bottom: rgba(122,122,122,255) solid 0.2vmax;
    width: 92vmax;
    position: relative;
    left: 4vmax;
    bottom: -1vmax;
    font-family: Vrinda, sans-serif;
    font-weight:normal;
}
h1>img{
    position: relative;
    right: 39vmax;
    vertical-align: bottom;
    height: 3vmax;
}
.pageContent{
    display: flex;
    justify-content: center;
    font-family: LT Oksana Light serif;
}
div>img{
    width: 20vmax;
}
b{
    text-decoration: underline solid;
    font-size: 2vmax;
    text-align: center;
    font-family: LT Oksana Regular Italic serif;
}
p{
    font-size: 1.7vmax;
    text-align: center;
    font-family: LT Oksana serif;
}
.greenhouse{
    position: relative;
    right: 15vmax;
    margin-top: 3vmax;  
}
.vase{
    position: relative;
    margin-top: 0;
    right: 1vmax;
    display: flex;
    flex-direction: column-reverse;  
}
.nightlight{
    position: relative;
    left: 15vmax; 
    margin-top: 3vmax;   
}
